".source.js":
  "$('[data-hid]')":
    prefix: "sd"
    body: "$('[data-hid=\"$1\"]').$0"
  "$('#id')":
    prefix: "sid"
    body: "$('#$1').$0"
  "$('.class')":
    prefix: "sc"
    body: "$('.$1').$0"
  "$('.class') 2":
    prefix: "sc1"
    body: "$('.$1').$0"
  "$('tag')":
    prefix: "stag"
    body: "$('$1').$0"
  "$(this)":
    prefix: "sth"
    body: "$(this).$0"
  "$($1)":
    prefix: "ss"
    body: "$($1).$0"
  "removeClass()":
    prefix: "rmc"
    body: "removeClass('$1')$0"
  "addClass()":
    prefix: "addc"
    body: "addClass('$1')$0"
  "removeAttr()":
    prefix: "rma"
    body: "removeAttr($1)$0"
  "toggleClass()":
    prefix: "tgc"
    body: "toggleClass('$1')$0"
  "siblings()":
    prefix: "sb"
    body: "siblings('$1')$0"
  "siblings() 2":
    prefix: "sb1"
    body: "siblings('$1')$0"
  "indexthis":
    prefix: "indexthis"
    body: "var index = $('$1').index(this);"
  "attr":
    prefix: "attr"
    body: "attr($1)$0"
  "text":
    prefix: "text"
    body: "text($1)$0"
  "html":
    prefix: "html"
    body: "html($1)$0"
  "val":
    prefix: "val"
    body: "val($1)$0"
  "rd":
    prefix: "rd"
    body: """
    $(function(){
    \t$1
    });
    """
  "jq$":
    prefix: "jq$"
    body: """
    jQuery.noConflict(); 
    (function($){ 
    \t$(function(){ 
    \t\t $1
    \t});
    })(jQuery);
    """
  "jqs":
    prefix: "jqs"
    body: """
    jQuery.noConflict(); 
    (function($){ 
    \t$(function(){ 
    \t\t$1
    \t});
    })(jQuery);
    """
  "jqclick":
    prefix: "jqclick"
    body: """
    click(function(){
    \t$1
    });
    """
  "jqclick 2":
    prefix: "jqc"
    body: """
    click(function(){
    \t$1
    });
    """
  "aja":
    prefix: "aja"
    body: """
    $.ajax({
    \turl: \'\',
    \tdata:\'\',
    \ttype:\'POST\'
    }).done(function(r){
    
    }).fail(function(r){
    
    );
    """
  "jqplugin":
    prefix: "jqplugin"
    body: """
    (function($){
    \t$.fn.pluginName = function (options) {
    \t\tvar defaults = {
    
    \t\t};
    \t\toptions = $.extend(defaults, options);
    \t\treturn this.each(function () {
    \t\t\tvar obj = $(this);
    \t\t});
    \t};
    })(jQuery);
    """