".source.js":
  "String":
    prefix: "S"
    body: "String"
  "string":
    prefix: "st"
    body: "string"
  "Number":
    prefix: "N"
    body: "Number"
  "number":
    prefix: "nu"
    body: "number"
  "Object":
    prefix: "O"
    body: "Object"
  "object":
    prefix: "ob"
    body: "object"
  "Array":
    prefix: "A"
    body: "Array"
  "array":
    prefix: "arr"
    body: "array"
  "Date":
    prefix: "D"
    body: "Date"
  "RegExp":
    prefix: "Rx"
    body: "RegExp"
  "typeof":
    prefix: "ty"
    body: """typeof ${1}"""
  "instanceof":
    prefix: "iof"
    body: "${1:source} instanceof ${2:Object}"
  "instanceof 2":
    prefix: "io"
    body: "$1 instanceof $2"
