".source.js":
  "Mustache":
    prefix: "mu"
    body: "Mustache"
  "Mustache render":
    prefix: "musr"
    body: "Mustache.render(\"{{title}} spends {{#calc}}\", view);"
  "Mustache render 2":
    prefix: "musr2"
    body: "Mustache.render(template, {name: \"Luke\"});"
  
  "vued":
    prefix: "vued"
    body: """
    Vue.directive(\'^!\', {
    
    });
    """
  "vinit":
    prefix: "vinit"
    body: """
    new Vue({
    \tel: \'#element\',
    \tdata: {
    \t\tv-modal: \'\',
    \t\t
    \t},
    \tmethods: {
    \t\tmethod1: function(){
    \t\t},
    
    \t\tmethod2: function(index){
    \t\t\t}\t
    \t}
    });
    """
  "vueinit":
    prefix: "vueinit"
    body: """
    new Vue({
    \tel: \'#element\',
    \tdata: {
    \t\tv-modal: \'\',
    \t\t
    \t},
    \tmethods: {
    \t\tmethod1: function(){
    \t\t},
    
    \t\tmethod2: function(index){
    \t\t\t}\t
    \t}
    });
    """

