".source.js":
  "setTimeout":
    prefix: "sett"
    body: """
    setTimeout(() => {
    \t${0}
    }, ${1:delay});
    """
  "setInterval":
    prefix: "seti"
    body: """
    setInterval(() => {
    \t${0}
    }, ${1:delay});
    """
  "setImmediate":
    prefix: "sim"
    body: """
    setImmediate(() => {
    \t${0}
    });
    """
