".source.js":
  "setTimeout":
    prefix: "sett"
    body: """
    setTimeout(function(){
    \t${0}
    }, 1000);
    """
  "clearTimeout":
    prefix: "cleart"
    body: """
    clearTimeout(id);
    """
  "clearInterval":
    prefix: "cleari"
    body: """
    clearInterval(id);
    """
  "setInterval":
    prefix: "seti"
    body: """
    setInterval(function(){
    \t${0}
    }, 1000);
    """
  "setImmediate":
    prefix: "sim"
    body: """
    setImmediate(() => {
    \t${0}
    });
    """
